*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style-type: none;
    text-decoration: none;
  }
  .sidebar{
    width: 270px;
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    background: #032556;
    z-index: 100;
    transition: width 300ms;
  
  }
  .sidebar-brand{
    height: 90px;
    padding: 1rem 0rem 1rem 2rem;
    color: #fff;
  }
  .sidebar-brand span{
    display: inline-block;
    padding-right: 1rem;
    margin-left: 1.5rem;
  }
  .sidebar-menu{
    margin-top: 1rem;
  }
  .sidebar-menu li{
    width: 100%;
    margin-bottom: 1.7rem;
    padding-left: 1rem;
  }
  .sidebar-menu a{
    padding-left: 1rem;
    display: block;
    color: #fff;
    font-size: 100%;
  }
  
  /* .sidebar-menu a.active{
    background: #fff;
    padding-top: 1rem;
    padding-bottom: 1rem;
    color: rgb(238, 174, 13);
    border-radius: 30px 0px 0px 30px;
  } */

  
  .sidebar-menu a span:first-child{
    font-size: 1.5rem;
    padding-right: 1rem;
  }
  
   .main-content{
     transition: margin-left 300ms;
     margin-left: 270px;
   }
  
  header{
    height: 4rem;
    background: #fff;
    display: flex;
    justify-content: space-between;
    padding: 1rem 1.5rem;
    box-shadow: 2px 2px 5px rgb(165, 165, 165);
    position: fixed;
    left: 270px;
    width: calc(100% - 270px);
    top: 0;
    z-index: 100;
    transition: left 300ms;
  
  }
  header h2{
    color: #222;
  }
  
  header label span{
    font-size: 1.7rem;
    padding-right: 1rem;
  }
  .seach-wrapper{
    border: 1px solid #f0f0f0;
    border-radius: 30px;
    height: 50px;
    display: flex;
    align-items: center;
    overflow-x: hidden;
  }
  
  .seach-wrapper span{
    display: inline-block;
    padding: 0rem 1rem;
    font-size: 1.5rem;
  }
  .seach-wrapper input{
    height: 100%;
    padding: .5rem;
    border: none;
    outline: none;
  
  }
  
  .user-wrapper{
    display: flex;
    align-items: center;
  
  }
  .user-wrapper img{
    border-radius: 50%;
    margin-right: 1rem;
  
  }
  
  .user-wrapper small{
    margin-top: -300px;
    display: inline-block;
    color: #032556;
  }
  main{
    margin-top: 48px;
    padding: 2rem 1.5rem;
    background: rgb(243, 243, 243);
    min-height: calc(100vh - 90px);
  }
  
  #nav-toggle:checked + .sidebar{
    width: 70px;
  }
  
  #nav-toggle:checked + .sidebar .sidebar-brand,
  #nav-toggle:checked + .sidebar li{
    padding-left:  1rem;
    text-align: center;
  }
  
  #nav-toggle:checked + .sidebar li a{
    padding-left:  0rem;
  }
  
  #nav-toggle:checked + .sidebar .sidebar-brand h2 span:last-child,
  #nav-toggle:checked + .sidebar li a span:last-child{
    display: none;
  }
  
  #nav-toggle:checked ~ .main-content{
    margin-left: 70px;
  }
  #nav-toggle:checked ~ .main-content header{
    width:  calc(100% - 70px);
    left: 70px;
  }
  
  @media only screen and (max-width: 1200px){
    .sidebar{
      width: 70px;
    }
    
    .sidebar .sidebar-brand,
    .sidebar li{
      padding-left:  1rem;
      text-align: center;
    }
    
    .sidebar li a{
      padding-left:  0rem;
    }
    
    .sidebar .sidebar-brand h2 span:last-child,
    .sidebar li a span:last-child{
      display: none;
    }
    
    .main-content{
      margin-left: 70px;
    }
    .main-content header{
      width:  calc(100% - 70px);
      left: 70px;
    }
    .sidebar:hover{
      width: 345px;
      z-index: 200;
    }
    
    .sidebar .sidebar-brand,
    .sidebar li{
      padding-left:  2rem;
      text-align: left;
    }
    
    .sidebar:hover li a{
      padding-left:  1rem;
    }
    
    .sidebar:hover .sidebar-brand h2 span:last-child,
    .sidebar:hover li a span:last-child{
      display: inline;
    }
  }
  .badge{
    width: 3rem;
    text-decoration:none
  }
  .CantidadNotificaciones{
    width: 30%;
    margin-left: .7rem;
    color: black;
    text-decoration:none;
  }
  
    /* Contenedor */
    .container {
      display: block;
      position: relative;
      padding-left: 35px;
      margin-bottom: 12px;
      cursor: pointer;
      font-size: 22px;
    }
    
    /* escondemos el default checkbox */
    .container input {
      position: absolute;
      opacity: 0;
      cursor: pointer;
      height: 0;
      width: 0;
    }
    
    /* creamos un custom checkbox */
    .checkmark {
      position: absolute;
      top: 0;
      left: 0;
      height: 25px;
      width: 25px;
      background-color: #eee;
    }
    
    /* Al pasar el mouse encima, lo ponemos gris */
    .container:hover input ~ .checkmark {
      background-color: #ccc;
    }
    
    /* creamos el marcador (escondido al no seleccionar) */
    .checkmark:after {
      content: "";
      position: absolute;
      display: none;
    }
    
    /* mostramos el marcador al seleccionar */
    .container input:checked ~ .checkmark:after {
      display: block;
    }
    
    /* estilo del marcador */
    .container .checkmark:after {
      left: 9px;
      top: 5px;
      width: 5px;
      height: 10px;
      border: solid white;
      border-width: 0 3px 3px 0;
      -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
      transform: rotate(45deg);
    }